
html{
    width: 1000px;
}
.container {
    padding: 0 auto;
    box-sizing: border-box;
    position: relative;
    width: 500px;
    height: 350px;
    border: 1px solid #000;
    border-radius: 20px;
    color: red;
    font-weight: 600;
}
.container .question {
    padding-top: 30px;
    text-align: center;
    font-size: 35px;
}
.container #yes {
    position: absolute;
    left: 120px;
    top: 175px;
}
button {
    width: 70px;
    height: 30px;
    display: inline-block;
}
.container #btn-no {
    top: 173px;
    position: absolute;
    line-height: 34px;
    vertical-align: middle;
    display: inline-block;
    right: 120px;
    width: 74px;
}
#no {
    
}
