@font-face {
    font-family: '11218';
    src: url('fonts/11218.eot');
    src: url('fonts/11218.eot') format('embedded-opentype'),
         url('fonts/11218.woff2') format('woff2'),
         url('fonts/11218.woff') format('woff'),
         url('fonts/11218.ttf') format('truetype'),
         url('fonts/11218.svg#11218') format('svg');
}
